body{
	background-color: gray;
}
#cart-products::before {
	content: '';
	border: transparent solid 16px;
	border-bottom: solid #000 16px;
	position: relative;
	top: -2.7rem;
	left: 15.8rem;
	z-index: -1;
}
